
html {
    height: 100%;

}
body {
    margin: 0;

    height: 100%;
    background-color: #DFDFE1;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/*
* top-bar, footer-bar style
*/
.top-bar {
    background-color: #CFC7F8;
    color: #fff;
    height: 120px;
    width: 100%;
    line-height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.logo {
    margin: 4px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.footer-bar {
    background-color: #E8DAF3;
    color: #fff;
    height: 60px;
    line-height: 60px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);

    z-index: 5;
}
.footer-logo {
    width: 30px;
    border-radius: 5px;
    margin-right: 5px;
}

.search{
    margin-left: 60px;
    height: 40px;
    width: 400px;
    border: 1px solid #a596f1;
    background: #FFFFFF;
}
.search>form>.sc-input{
    font-size: 16px;
    width: 325px;
    padding : 10px;
    border: 0px;
    outline: none;
    float: left;
}
.search>form>.sc-btn{
    width: 50px;
    height: 100%;
    border: 0px;
    background: #a596f1;
    outline: none;
    float: right;
    color: #FFFFFF;
}


/**************************************/

.content {
    /*padding: 15px 30px;*/
    padding-top: 120px;
    margin: 0 auto;
    width: 800px;
    flex: 1;
    min-height: calc(100% - 60px);
}

.layout {
    /* Pricing Grid */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    gap: 32px;
    justify-content: space-between;


    position: absolute;
    width: 90%;
    height: 70%;
    left: 5%;
    top: 186px;

    max-width:1440px;
    display:grid;
    grid-template-columns:repeat(auto-fill, 212px);
    /*background-color:grey;*/
    grid-gap:20px;




}


.movie-item {
    width: 270px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    position: relative;

    margin-bottom: 30px;

}
.none-content {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    display: block;
    font-size: 1.6em;
}
.poster-pre {
    height: 210px;

}